* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'roboto', sans-serif;
}

a {
  color: #0783bd !important;
  text-decoration: none;
  padding: 20px;
  margin-top: 20px;
}

a:hover {
  color: black !important;
}

a.active {
  color: #0c3872 !important;
}

.align-right {
  display: flex !important;
  justify-content: right !important;
}

.align-left {
  display: flex !important;
  justify-content: left !important;
}

